<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Funeraria.My.MySettings.agenci10_funerariaDBConnectionString"
            connectionString="server=70.32.23.89;user id=agenci10_development;password=Holamundo90@;persistsecurityinfo=True;database=agenci10_funerariaDB"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>